@import '@/styles/colors.scss';

.roles-view{
  width: 100%;
  overflow: auto;

  .search-toolbar-wrapper {
    padding-bottom: 15px;
  }

  .search-wrapper {
    margin-right: 15px;
  }

  .toolbar-wrapper {
    display: inline-flex;
    position: relative;
  }

  .page-bar-wrapper {
    margin: 15px 0;
  }
}
