.home-view {
    height: 100%;
    text-align: left;

    .content-wrapper {
        min-width: 600px;
        max-width: 1200px;
        padding: 0 5px 20px 5px;
        text-align: left;
        line-height: 1.5;
    }
}