@import '@/styles/colors.scss';

.com-roles-edit{
  width: 100%;
  overflow: auto;
  max-width: 400px;
  text-align: left;

  .checkbox-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    white-space: nowrap;
  }

  .button-row {
    margin: 15px auto 0 10px;
    text-align: center;
  }
}
