$black: #000000;
$white: #ffffff;
$sysRed: #f35f43;

$bgGreen: #00B999;
$bgGreenHover: #10caa9;
$disabledGray: #b9bdbf;

$btn: $white;
$btnBg: $bgGreen;
$btnBgHover: $bgGreenHover;
$btnSecondary: $black;
$btnSecondaryBg: #fefefe;
$btnSecondaryBgHover: #fafafa;
$placeholderGray: #999999;

$disabledBg: #b9bdbf;
$mainBg: $white;
$semiBg: #ddd;
$border: #ddd;
$main: $black;
$line: #666;
$formBorder: #ccc;
$formFocus: #66afe9;
$error: $sysRed;
$rowHoverBg: #e6eafb;
$evenRowBg: #f6f6f6;
$textHover: #0c3dcd;
$textBlueBright: #1c88e6;
$textGray: #c5c5c5;
$textMediumColor: #333;
$textBgGray: #efefef;

$loginBg: #0c172a;
$loginBorder: #3c4a61;
$naviBg: #212421;
$logoBg: #33bbdd;
